@import "../base/variables";

.error {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1111;
  // display: none;
  font-family: $font-rubik;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  p {
    text-align: center;
    color: $grey-text-color;
    font-weight: 700;
    font-size: 1.5em;
  }

  .error-code {
    font-size: 15em;
    margin-block: 10px;
    color: $accent-color;
  }

  .cities-sec-btn {
    width: 150px;
    height: 45px;
    background: $accent-color;
    border: 1px solid $accent-color;
    color: $dark-text-color;
    font-size: 1.1em;
    cursor: pointer;
    font-weight: 600;
    border-radius: 2px;
    transition: 0.1s ease-in-out;

    &:hover {
      background: transparent;
    }
  }
}
