/* From Uiverse.io by Yaya12085 */
.loader {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 #0a7cbe;
  animation: load 2s linear infinite alternate;

  /* display: none; */

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease-in-out;
}

.center-loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-loader::before,
.center-loader::after {
  position: absolute;
  content: "";
  height: 8em;
  width: 8em;
  border: 1em solid #0060fa;
  border-radius: 50%;
  animation: loader_79178 2s linear infinite;
}

.center-loader::after {
  opacity: 0;
  animation-delay: 1s;
}

@keyframes loader_79178 {
  0% {
    border: 1em solid #0060fa;
    transform: scale(0);
    opacity: 1;
  }

  100% {
    border: 0 solid #0060fa;
    transform: scale(1);
    opacity: 0;
  }
}
