// Varianles

$main-bg: #0c0c0c;
$secondary-bg: #151515;
$text-color: #c4cad3;
$grey-text-color: #686d76;
$heading-color: #f0f1f1;
$accent-color: #2666cf;
$font-rubik: "Rubik", system-ui;
$border-radius: 25px;
$border-color: #373a40;
