// Varianles

$main-bg: #0c0c0c;
$secondary-bg: #151515;
$text-color: #c4cad3;
$grey-text-color: #686d76;
$accent-color: #2666cf;
$font-rubik: "Rubik", system-ui;
$border-radius: 25px;
$border-color: #373a40;

$dark-bg-color: #0c0c0c;
$dark-secondary-bg-color: #151515;
$dark-text-color: #c4cad3;
