// Varianles

$grey-text-color: #686d76;
$font-rubik: "Rubik", system-ui;
$border-radius: 25px;
$border-color: #373a40;

// Dark Theme
$dark-bg-color: #0c0c0c;
$dark-secondary-bg-color: #151515;
$dark-text-color: #c4cad3;
$accent-color: #2666cf;
$border-color: #373a40;

// Light Theme
// $light-bg-color: #f5f5f5;
// $light-secondary-bg-color: #eaeaea;
// $light-text-color: #2c2c2c;
// $accent-color: #2666cf;
// $border-color-light: #c7c9ce;
