@import "../base/variables";

.cities-search-section {
  font-family: $font-rubik;
}

.cities-search-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1.4fr 0.6fr;
  grid-template-rows: 1fr;
}

.cities-list-section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .city-search-result {
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: $secondary-bg;
    padding: 25px;
    border-radius: $border-radius;

    .weather-icon {
      width: 95px;
    }

    .cities-name-time {
      flex-grow: 1;

      .city-name {
        color: $text-color;
        font-weight: 700;
        font-size: 2.2em;
        margin-block: 0 10px;
      }

      .current-time {
        color: $grey-text-color;
        font-size: 1.05em;
      }
    }

    .current-temp {
      color: $text-color;
      font-size: 2.5em;
      font-weight: 400;
    }
  }
}

.city-weather-info {
  grid-area: 1 / 2 / 2 / 3;
}
