@import "../base/variables";

@mixin heading-font($size) {
  font-weight: 700;
  color: $dark-text-color;
  font-size: $size;
}

@mixin wrap-heading {
  font-family: $font-rubik;
  font-weight: 700;
  color: $grey-text-color;
  font-size: 1.05em;
  text-transform: uppercase;
}

@mixin flex($direction, $align, $justify, $gap) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

.main-content {
  height: 100%;
  grid-area: 1 / 2 / 2 / 3;
  padding: 10px;
  font-family: $font-rubik;
}

// Weather-section Styling

.weather-section {
  height: 100%;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}

.main-container {
  height: 100%;
}

// current-weather-container
.current-weather-section {
  position: relative;
  height: 85%;
  grid-area: 1 / 1 / 2 / 2;
  border-radius: $border-radius;
  padding: 25px;

  @include flex(row, center, space-between, 10px);
}

.weather-info-wrapper {
  height: 100%;
  margin-left: 20px;
  @include flex(column, normal, space-around, 0px);

  .city-info {
    padding: 5px;
    .city-title {
      padding-bottom: 5px;
      @include heading-font(3em);
    }
    .rain-probability {
      color: $grey-text-color;
    }
  }
  .current-temperature {
    @include heading-font(3.5em);
    color: $dark-text-color;
  }
}

.t-temp {
  display: none;
  @include heading-font(3.5em);
  color: $dark-text-color;
}

.weather-icon-container {
  width: 100%;
  max-width: 250px;
  margin-right: 4%;
  img {
    width: 100%;
  }
}

// hourly-weather-container
.hourly-weather-section {
  height: 82%;
  grid-area: 2 / 1 / 3 / 2;
  background-color: $dark-secondary-bg-color;
  border-radius: $border-radius;
  padding: 25px;
}

.w-hourly-forecast-wrapper,
.aircondition-wrapper,
.weekly-weather-wrapper {
  height: 100%;
  @include flex(column, normal, none, 20px);
}

.forecast-title {
  padding: 5px 20px;
  @include wrap-heading;
}

.forecast-slider {
  height: 100%;
  padding-inline: 20px;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;

  @include flex(row, stretch, none, 0px);

  .forecast-hour {
    height: 100%;
    flex: 0 0 150px;
    border-right: 1px solid $border-color;
    @include flex(column, center, space-around, 25px);

    .forecast-time {
      font-size: 1.1em;
      font-weight: 600;
      text-transform: uppercase;
      color: $grey-text-color;
    }

    .forecast-icon {
      width: 60px;
    }

    .forecast-temperature {
      font-size: 2em;
      font-weight: 600;
      color: $dark-text-color;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 1570px) {
    overflow: scroll;
    white-space: normal;
  }
}

// aircondition-container

.air-quality-section {
  height: 81.5%;
  grid-area: 3 / 1 / 4 / 2;
  background-color: $dark-secondary-bg-color;
  border-radius: $border-radius;
  padding: 25px;
}

.section-header {
  @include flex(row, center, space-between, 0px);

  button {
    background-color: $accent-color;
    border: none;
    border-radius: 50px;
    height: 30px;
    width: 100px;
    color: $dark-text-color;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    display: none;

    &:hover {
      filter: brightness(1.2);
    }
  }
}

.air-quality-stats {
  margin-block: 25px 0;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: repeat(2, 0.5fr);
  gap: 30px;
}

.air-quality-stat {
  @include flex(row, stretch, none, 20px);
  color: $grey-text-color;

  .stat-icon {
    font-size: 1.5em;
  }

  .stat-details {
    .stat-title {
      text-transform: uppercase;
      margin-bottom: 10px;
      font-size: 1.4em;
    }
    .stat-value {
      font-size: 2em;
      font-weight: 600;
      color: $dark-text-color;
    }
  }
}

// weekly-weather-container

.weekly-forecast-container {
  height: 94.5%;
  padding: 25px;
  background-color: $dark-secondary-bg-color;
  border-radius: $border-radius;
  grid-area: 1 / 2 / 4 / 3;
  position: relative;
}

.expand-wrap-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 2em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $dark-text-color;

  display: none;
  transition: all 0.5s ease-in-out;

  &:hover {
    color: $accent-color;
  }
}

.forecast-week-wrap {
  height: 100%;
  padding-inline: 25px;
  margin-block: 20px;
  @include flex(column, stretch, none, 0px);
}

.forecast-day-item {
  height: 120px;
  color: $grey-text-color;
  font-size: 1.1em;
  border-bottom: 1px solid $border-color;
  @include flex(row, center, space-between, 20px);

  .day-condition {
    @include flex(row, center, space-between, 20px);
    img {
      width: 40px;
    }
    span {
      font-weight: 600;
      color: $dark-text-color;
    }
  }

  .day-temperature {
    .temperature-high {
      font-weight: 600;
      color: $dark-text-color;
    }
  }
  &:last-child {
    border: none;
  }
}

@media screen and (max-width: 1620px) {
  .weather-section {
    grid-template-columns: 1.5fr 1fr;
  }
}

@media screen and (max-width: 1400px) {
  .main-content {
    padding-right: 20px;
  }
  .weather-section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }

  .current-weather-section {
    grid-area: 1 / 1 / 2 / 2;
    height: 300px;
  }

  .weather-icon-container {
    max-width: 250px;
  }

  .hourly-weather-section {
    grid-area: 2 / 1 / 3 / 2;
    height: 250px;
  }

  .air-quality-section {
    grid-area: 3 / 1 / 4 / 2;
    height: 250px;
  }

  .weekly-forecast-container {
    grid-area: 4 / 1 / 5 / 2;

    height: 15px;
    overflow: hidden;

    transition: all 1s ease-in-out;
  }

  .forecast-title {
    padding-block: 0;
  }

  .forecast-day-item {
    height: 100px;
  }

  .expand {
    height: 91%;
  }

  .rotate-arrow {
    transform: rotate(-180deg);
  }

  .expand-wrap-btn {
    display: block;
    top: 13px;
  }
}

@media screen and (max-width: 1024px) {
  .main-content {
    padding-inline: 20px;
  }
}

@media screen and (max-width: 900px) {
  .forecast-slider {
    .forecast-hour {
      display: none;
      &:nth-child(-n + 8) {
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .current-weather-section {
    height: max-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    gap: 30px;
  }

  .weather-info-wrapper {
    margin: 0;
    .city-info {
      text-align: center;
      padding: 10px;
    }
  }

  .d-temp {
    display: none;
  }

  .t-temp {
    display: block;
    text-align: center;
    padding: 10px;
  }

  .weather-icon-container {
    max-width: 200px;
    padding: 20px;
    margin: 0;
  }

  .air-quality-section {
    height: 270px;
  }

  .air-quality-stats {
    display: flex;
    flex-direction: column;
  }

  .air-quality-stat {
    .stat-details {
      width: 100%;
      @include flex(row, center, space-between, 20px);

      .stat-title {
        margin: 0;
      }
    }
  }

  .forecast-day-item {
    height: 80px;
  }
}

@media screen and (max-width: 600px) {
  .main-content {
    padding-inline: 10px;
  }
  .current-weather-section,
  .hourly-weather-section,
  .weekly-forecast-container {
    padding: 25px 15px;
  }

  .air-quality-section {
    padding: 20px;
  }

  .forecast-week-wrap {
    padding-inline: 15px;
  }

  .forecast-slider {
    padding: 0;
    .forecast-hour {
      flex: 0 0 130px;
      &:nth-of-type(8) {
        display: none;
      }

      &:nth-of-type(7) {
        display: none;
      }

      &:nth-of-type(6) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 475px) {
  .air-quality-stat {
    .stat-icon {
      font-size: 1.5em;
    }

    .stat-details {
      font-size: 0.8em;
      .stat-value {
        font-size: 1.8em;
      }
    }
  }

  .forecast-day-item {
    .day-condition {
      img {
        width: 45px;
      }
      span {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .forecast-slider {
    .forecast-hour {
      &:nth-child(1) {
        display: none;
      }
    }
  }
}
