@import "../base/variables";

body {
  background-color: $dark-bg-color;
  height: 100vh;
}

.welcome-section {
  overflow: hidden;
}

.welcome-page-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 20px;
  font-family: $font-rubik;
}

.welcome-logo-container {
  width: 100%;
  padding: 20px;

  div {
    height: 96dvh;
    border-radius: 25px;
    background-color: $dark-secondary-bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 30%;
    min-width: 350px;
  }
}
.welcome-page-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 10%;
    min-width: 50px;
    margin: 40px 0;
  }

  h1 {
    color: $dark-text-color;
    font-weight: 700;
    font-size: 2.5em;
  }

  p {
    color: $dark-text-color;
    margin-block: 10px 50px;
  }

  .get-started-link {
    &:focus {
      outline: 3px solid $accent-color;
      border-radius: $border-radius;
      outline-offset: 2px;
    }
  }

  button {
    background-color: $accent-color;
    width: 180px;
    height: 45px;
    text-align: center;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: $dark-text-color;
    transition: all 0.3s ease-in-out;

    &:hover {
      filter: contrast(2);
    }
  }
}

@media screen and (max-width: 950px) {
  .welcome-page-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    height: 100vh;
  }

  .welcome-logo-container {
    display: none;
  }

  .welcome-page-content {
    img {
      width: 40%;
    }

    button {
      width: 250px;
    }
  }
}
