@import "../base/variables";

@mixin heading-font($size) {
  font-weight: 700;
  color: $dark-text-color;
  font-size: $size;
}

@mixin wrap-heading {
  font-family: $font-rubik;
  font-weight: 700;
  color: $grey-text-color;
  font-size: 1.05em;
  text-transform: uppercase;
}

@mixin flex($direction, $align, $justify, $gap) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

.map-section {
  height: 100%;
  display: grid;
  grid-template-columns: 1.6fr 0.7fr;
  grid-template-rows: 1fr;
  gap: 15px;
  align-items: center;
}

.map-container {
  height: 100%;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}

.show-map-btn {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  border-radius: $border-radius;
  cursor: pointer;

  font-weight: 700;
  background-color: $dark-secondary-bg-color;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  border: none;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: $accent-color;
  }

  &:focus-visible {
    background-color: $accent-color;
  }
}

#map {
  height: 100%;
  width: 100%;

  border-radius: $border-radius;
  pointer-events: auto;
  // transition:all 0.1s ease-in-out;
}

.hide-map {
  height: 0;
  pointer-events: none;
}

.map-aside-section {
  height: 100%;
  grid-area: 1 / 2 / 2 / 3;
}

.bookmarked-city-container {
  @include flex(column, normal, normal, 15px);
}

.bookmarked-city {
  padding: 20px;
  @include flex(row, center, normal, 15px);
  background-color: $dark-secondary-bg-color;
  border-radius: $border-radius;

  img {
    width: 70px;
  }

  .city-name-wrapper {
    @include flex(row, center, normal, 20px);
    flex-grow: 1;

    h2 {
      @include heading-font(1.8em);
    }

    button {
      background-color: transparent;
      border: none;
      font-size: 1.5em;
      color: $grey-text-color;
      cursor: pointer;

      &:hover {
        color: $accent-color;
      }
    }
  }
  h3 {
    @include heading-font(2em);
  }
}

.location-name {
  font-size: 1.8em;
  color: $dark-text-color;
  font-weight: 600;
  text-align: center;
}

.location-temp {
  color: $dark-text-color;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin: 0 !important;
}

.zoom-to-btn {
  display: none;
}

.see-details-btn {
  padding: 0 20px;
  height: 35px;
  border-radius: $border-radius;
  border: 1px solid $dark-text-color;
  background-color: transparent;
  color: $dark-text-color;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-weight: 600;

  &:hover {
    background-color: $accent-color;
  }
}

.leaflet-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: $dark-secondary-bg-color !important;
}

.we-icon {
  width: 50px;
}

@media screen and (max-width: 1540px) {
  .bookmarked-city {
    padding: 20px;
    @include flex(row, center, normal, 15px);
    background-color: $dark-secondary-bg-color;
    border-radius: $border-radius;

    img {
      width: 70px;
      display: none;
    }

    .city-name-wrapper {
      @include flex(row, center, normal, 20px);
      flex-grow: 1;

      h2 {
        @include heading-font(1.8em);
      }

      button {
        background-color: transparent;
        border: none;
        font-size: 1.5em;
        color: $grey-text-color;
        cursor: pointer;
      }
    }
    h3 {
      @include heading-font(2em);
    }
  }
}

@media screen and (max-width: 1300px) {
  .map-section {
    grid-template-columns: 1fr;
  }

  .map-aside-section {
    display: none;
  }

  .zoom-to-btn {
    display: block;
    border: 1px solid $dark-text-color;
    width: 80px;
    height: 30px;
    border-radius: $border-radius;
    font-size: 1.5em;
    background-color: transparent;
    color: $dark-text-color;
  }
}

@media screen and (max-width: 1024px) {
  #map {
    height: 95vh;
    width: 100%;

    border-radius: $border-radius;
    pointer-events: auto;
  }
}
